@import 'reset';
@import 'fonts';

.container {
    width: 1260px;
    margin: 0 auto;
}

.header-wrapper {
    background: url('../img/header-background.jpg');
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .top-menu-link {
        font-family: 'Roboto';
        font-size: 18px;
        color: #120203;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 70px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('../img/header-background.jpg');
    background-size: cover;

    //height: 600px;
    .welcome-inner {
        text-align: center;

        .welcome-heading {
            font-family: 'master_of_break';
            font-size: 80px;
            color: #ed2024;
            text-align: center;
            text-shadow: -10px 0 #fff, 0 10px #fff, 10px 0 #fff, 0 -10px #fff;
            padding-bottom: 50px;
            padding-top: 215px;
        }

        .welcome-text {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 25px;
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 175px;
            letter-spacing: 0.10em;
        }

        .chevron-down {
            font-size: 40px;
            color: #e8dbcf;
            padding-bottom: 145px;
        }
    }

    .chevron {
        font-size: 40px;
        color: #e8dbcf;
    }
}

.reservation {
    .reservation-inner {
        padding: 150px 61px;
        text-align: center;

        .reservation-heading {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 40px;
            color: #f01b16;
            text-transform: uppercase;
            margin-bottom: 75px;

            .reservation-span {
                font-family: 'master_of_break';
                font-size: 40px;
                color: #f01b16;
                text-transform: none;
                margin-left: 30px;
            }
        }

        .reservation-text {
            font-family: 'Roboto';
            font-size: 22px;
            color: #9f9a97;
            line-height: 1.2;
            margin-bottom: 50px;
        }

        .reservation-button {
            padding: 25px 30px;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 700;
            color: #fff2ee;
            text-transform: uppercase;
            background-color: #ff7e66;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.make-cooking {
    display: flex;

    .make-cooking-inner {
        width: 50%;
    }

    .left {
        background: url('../img/make-cooking.jpg');

        .make-cooking-img {
            width: 100%;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #fff2ed;
        text-align: center;
        padding: 120px 0;

        .heading {
            font-family: 'Roboto';
            font-size: 45px;
            font-weight: 700;
            color: #ff7e66;
        }

        .heading-img {
            margin: 30px 0;
        }

        .make-cooking-text {
            font-family: 'Roboto';
            font-size: 18px;
            color: #9f9a97;
            line-height: 1.2;
        }

    }
}

.our-baking {
    padding: 150px 0;
    text-align: center;

    .heading {
        font-family: 'Roboto';
        font-size: 40px;
        font-weight: 700;
        color: #f01b16;
        text-transform: uppercase;
        margin-bottom: 60px;

        .baking-span {
            font-family: 'master_of_break';
            font-size: 40px;
            color: #f01b16;
            text-transform: none;
        }
    }

    .paragraph {
        font-family: 'Roboto';
        font-size: 22px;
        line-height: 1.2;
        color: #9f9a97;
        margin-bottom: 80px;
    }

    .baking-button {
        padding: 25px 50px;
        background-color: #ff7e66;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 700;
        color: #fff2ee;
        text-transform: uppercase;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}

.the-lemon-cake {
    background: url('../img/the-lemon-cake.jpg');
    background-size: cover;
    padding: 150px 0 90px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .chevron {
        font-size: 40px;
        color: #fff;
    }

    .lemon-inner {
        padding-left: 700px;

        .heading,
        .paragraph,
        .price {
            margin-bottom: 60px;
        }

        .heading {
            font-family: 'master_of_break';
            font-size: 80px;
            font-weight: 700;
            color: #f01b16;
        }

        .paragraph {
            font-family: 'Roboto';
            font-size: 18px;
            line-height: 1.2;
            color: #fff;
        }

        .price {
            font-family: 'master_of_break';
            font-size: 50px;
            font-weight: 700;
            color: #fff;
        }

        .lemon {
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            padding: 22px 35px;
            background-color: rgba($color: #000000, $alpha: 0);
            color: #fff;
            border: 3px solid #fff;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.shop-icons {
    .icon-items {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .icon-item {
            text-align: center;
            padding: 60px 0;

            .icon-img {
                margin-bottom: 30px;
            }

            .icon-paragraph {
                font-family: 'Roboto';
                font-size: 30px;
                font-weight: 700;
                color: #120203;
            }
        }
    }
}

.gallery {
    .items {
        display: flex;
        flex-wrap: wrap;

        .item25-text {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff2ed;

            .text {
                font-family: 'Roboto';
                font-size: 50px;
                font-weight: 700;
                color: #ff7e66;
                text-transform: uppercase;
                letter-spacing: 0.20em;
            }
        }

        .item1 {
            width: 25%;
            background: url('../img/gallery-tea.jpg');
        }

        .item2 {
            width: 50%;
            background: url('../img/gallery-cake1.jpg');
        }

        .item3 {
            width: 50%;
            background: url('../img/gallery-cake2.jpg');
        }

        .item4 {
            width: 25%;
            background: url('../img/gallery-cake3.jpg');

            .text2 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 130px 0;
                margin: 40px;
                background-color: rgba($color: #f12824, $alpha: 0.7);

                .paragraph {
                    font-family: 'Roboto';
                    font-size: 50px;
                    font-weight: 700;
                    color: #fff2ed;
                    text-transform: uppercase;

                }
            }
        }

        .item5 {
            width: 25%;
            background: url('../img/gallery-cake4.jpg');
        }

        .item {
            height: 440px;
            background-size: cover;
            background-position: center;
        }
    }


}

.our-blog {
    padding: 150px 0;

    .blog-wrapper {
        .title {
            font-family: 'Roboto';
            font-size: 40px;
            font-weight: 700;
            color: #f01b16;
            text-align: center;
            margin-bottom: 55px;

            .blog-span {
                font-family: 'master_of_break';
                font-size: 40px;
                color: #f01b16;
            }
        }

        .paragraph {
            font-family: 'Roboto';
            font-size: 22px;
            color: #9f9a97;
            text-align: center;
            line-height: 1.2;
            margin-bottom: 112px;
        }

        .items {
            display: flex;
            justify-content: space-between;

            .item1 {
                background: url('../img/blog-item1.jpg');
            }

            .item2 {
                background: url('../img/blog-item2.jpg');
            }

            .item3 {
                background: url('../img/blog-item3.jpg');
            }

            .item4 {
                background: url('../img/blog-item4.jpg');
            }
            .item {
                width: 25%;
                height: 350px;
                background-size: cover;
                background-position: center;
            }
        }
    }
}