@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'master_of_break';
  src: url("../fonts/master-of-break-font/master_of_break.otf") format("opentype"); }

.container {
  width: 1260px;
  margin: 0 auto; }

.header-wrapper {
  background: url("../img/header-background.jpg");
  background-size: cover; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }
  .header .top-menu-link {
    font-family: 'Roboto';
    font-size: 18px;
    color: #120203;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 70px; }
    .header .top-menu-link:first-of-type {
      margin-left: 0; }

.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../img/header-background.jpg");
  background-size: cover; }
  .welcome .welcome-inner {
    text-align: center; }
    .welcome .welcome-inner .welcome-heading {
      font-family: 'master_of_break';
      font-size: 80px;
      color: #ed2024;
      text-align: center;
      text-shadow: -10px 0 #fff, 0 10px #fff, 10px 0 #fff, 0 -10px #fff;
      padding-bottom: 50px;
      padding-top: 215px; }
    .welcome .welcome-inner .welcome-text {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 175px;
      letter-spacing: 0.10em; }
    .welcome .welcome-inner .chevron-down {
      font-size: 40px;
      color: #e8dbcf;
      padding-bottom: 145px; }
  .welcome .chevron {
    font-size: 40px;
    color: #e8dbcf; }

.reservation .reservation-inner {
  padding: 150px 61px;
  text-align: center; }
  .reservation .reservation-inner .reservation-heading {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    color: #f01b16;
    text-transform: uppercase;
    margin-bottom: 75px; }
    .reservation .reservation-inner .reservation-heading .reservation-span {
      font-family: 'master_of_break';
      font-size: 40px;
      color: #f01b16;
      text-transform: none;
      margin-left: 30px; }
  .reservation .reservation-inner .reservation-text {
    font-family: 'Roboto';
    font-size: 22px;
    color: #9f9a97;
    line-height: 1.2;
    margin-bottom: 50px; }
  .reservation .reservation-inner .reservation-button {
    padding: 25px 30px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #fff2ee;
    text-transform: uppercase;
    background-color: #ff7e66;
    border: none; }
    .reservation .reservation-inner .reservation-button:hover {
      cursor: pointer; }

.make-cooking {
  display: flex; }
  .make-cooking .make-cooking-inner {
    width: 50%; }
  .make-cooking .left {
    background: url("../img/make-cooking.jpg"); }
    .make-cooking .left .make-cooking-img {
      width: 100%; }
  .make-cooking .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff2ed;
    text-align: center;
    padding: 120px 0; }
    .make-cooking .right .heading {
      font-family: 'Roboto';
      font-size: 45px;
      font-weight: 700;
      color: #ff7e66; }
    .make-cooking .right .heading-img {
      margin: 30px 0; }
    .make-cooking .right .make-cooking-text {
      font-family: 'Roboto';
      font-size: 18px;
      color: #9f9a97;
      line-height: 1.2; }

.our-baking {
  padding: 150px 0;
  text-align: center; }
  .our-baking .heading {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    color: #f01b16;
    text-transform: uppercase;
    margin-bottom: 60px; }
    .our-baking .heading .baking-span {
      font-family: 'master_of_break';
      font-size: 40px;
      color: #f01b16;
      text-transform: none; }
  .our-baking .paragraph {
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 1.2;
    color: #9f9a97;
    margin-bottom: 80px; }
  .our-baking .baking-button {
    padding: 25px 50px;
    background-color: #ff7e66;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #fff2ee;
    text-transform: uppercase;
    border: none; }
    .our-baking .baking-button:hover {
      cursor: pointer; }

.the-lemon-cake {
  background: url("../img/the-lemon-cake.jpg");
  background-size: cover;
  padding: 150px 0 90px 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .the-lemon-cake .lemon-inner {
    padding-left: 700px; }
    .the-lemon-cake .lemon-inner .heading, .the-lemon-cake .lemon-inner .paragraph, .the-lemon-cake .lemon-inner .price {
      margin-bottom: 60px; }
    .the-lemon-cake .lemon-inner .heading {
      font-family: 'master_of_break';
      font-size: 80px;
      font-weight: 700;
      color: #f01b16; }
    .the-lemon-cake .lemon-inner .paragraph {
      font-family: 'Roboto';
      font-size: 18px;
      line-height: 1.2;
      color: #fff; }
    .the-lemon-cake .lemon-inner .price {
      font-family: 'master_of_break';
      font-size: 50px;
      font-weight: 700;
      color: #fff; }
    .the-lemon-cake .lemon-inner .lemon {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      padding: 22px 35px;
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
      border: 3px solid #fff; }
      .the-lemon-cake .lemon-inner .lemon:hover {
        cursor: pointer; }
