@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.chevron {
  padding: 0 20px; }

@font-face {
  font-family: 'master_of_break';
  src: url("../fonts/master-of-break-font/master_of_break.otf") format("opentype"); }

.container {
  width: 1260px;
  margin: 0 auto; }

.header-wrapper {
  background: url("../img/header-background.jpg");
  background-size: cover; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }
  .header .top-menu-link {
    font-family: 'Roboto';
    font-size: 18px;
    color: #120203;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 70px; }
    .header .top-menu-link:first-of-type {
      margin-left: 0; }

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../img/header-background.jpg");
  background-size: cover; }
  .welcome .welcome-inner {
    text-align: center; }
    .welcome .welcome-inner .welcome-heading {
      font-family: 'master_of_break';
      font-size: 80px;
      color: #ed2024;
      text-align: center;
      text-shadow: -10px 0 #fff, 0 10px #fff, 10px 0 #fff, 0 -10px #fff;
      padding-bottom: 50px;
      padding-top: 215px; }
    .welcome .welcome-inner .welcome-text {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 175px;
      letter-spacing: 0.10em; }
    .welcome .welcome-inner .chevron-down {
      font-size: 40px;
      color: #e8dbcf;
      padding-bottom: 145px; }
  .welcome .chevron {
    font-size: 40px;
    color: #e8dbcf; }

.reservation .reservation-inner {
  padding: 150px 61px;
  text-align: center; }
  .reservation .reservation-inner .reservation-heading {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    color: #f01b16;
    text-transform: uppercase;
    margin-bottom: 75px; }
    .reservation .reservation-inner .reservation-heading .reservation-span {
      font-family: 'master_of_break';
      font-size: 40px;
      color: #f01b16;
      text-transform: none;
      margin-left: 30px; }
  .reservation .reservation-inner .reservation-text {
    font-family: 'Roboto';
    font-size: 22px;
    color: #9f9a97;
    line-height: 1.2;
    margin-bottom: 50px; }
  .reservation .reservation-inner .reservation-button {
    padding: 25px 30px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #fff2ee;
    text-transform: uppercase;
    background-color: #ff7e66;
    border: none; }
    .reservation .reservation-inner .reservation-button:hover {
      cursor: pointer; }

.make-cooking {
  display: flex; }
  .make-cooking .make-cooking-inner {
    width: 50%; }
  .make-cooking .left {
    background: url("../img/make-cooking.jpg"); }
    .make-cooking .left .make-cooking-img {
      width: 100%; }
  .make-cooking .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff2ed;
    text-align: center;
    padding: 120px 0; }
    .make-cooking .right .heading {
      font-family: 'Roboto';
      font-size: 45px;
      font-weight: 700;
      color: #ff7e66; }
    .make-cooking .right .heading-img {
      margin: 30px 0; }
    .make-cooking .right .make-cooking-text {
      font-family: 'Roboto';
      font-size: 18px;
      color: #9f9a97;
      line-height: 1.2; }

.our-baking {
  padding: 150px 0;
  text-align: center; }
  .our-baking .heading {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    color: #f01b16;
    text-transform: uppercase;
    margin-bottom: 60px; }
    .our-baking .heading .baking-span {
      font-family: 'master_of_break';
      font-size: 40px;
      color: #f01b16;
      text-transform: none; }
  .our-baking .paragraph {
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 1.2;
    color: #9f9a97;
    margin-bottom: 80px; }
  .our-baking .baking-button {
    padding: 25px 50px;
    background-color: #ff7e66;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #fff2ee;
    text-transform: uppercase;
    border: none; }
    .our-baking .baking-button:hover {
      cursor: pointer; }

.the-lemon-cake {
  background: url("../img/the-lemon-cake.jpg");
  background-size: cover;
  padding: 150px 0 90px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .the-lemon-cake .chevron {
    font-size: 40px;
    color: #fff; }
  .the-lemon-cake .lemon-inner {
    position: relative;
    left: 410px; }
    .the-lemon-cake .lemon-inner .heading,
    .the-lemon-cake .lemon-inner .paragraph,
    .the-lemon-cake .lemon-inner .price {
      margin-bottom: 60px; }
    .the-lemon-cake .lemon-inner .paragraph {
      font-family: 'Roboto';
      font-size: 18px;
      line-height: 1.2;
      color: #fff; }
    .the-lemon-cake .lemon-inner .price {
      font-family: 'master_of_break';
      font-size: 50px;
      font-weight: 700;
      color: #fff; }
    .the-lemon-cake .lemon-inner .lemon {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      padding: 22px 35px;
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
      border: 3px solid #fff; }
      .the-lemon-cake .lemon-inner .lemon:hover {
        cursor: pointer; }

.shop-icons .icon-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .shop-icons .icon-items .icon-item {
    text-align: center;
    padding: 60px 0; }
    .shop-icons .icon-items .icon-item .icon-img {
      margin-bottom: 30px; }
    .shop-icons .icon-items .icon-item .icon-paragraph {
      font-family: 'Roboto';
      font-size: 30px;
      font-weight: 700;
      color: #120203; }

.gallery .items {
  display: flex;
  flex-wrap: wrap; }
  .gallery .items .item25-text {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff2ed; }
    .gallery .items .item25-text .text {
      font-family: 'Roboto';
      font-size: 50px;
      font-weight: 700;
      color: #ff7e66;
      text-transform: uppercase;
      letter-spacing: 0.20em; }
  .gallery .items .item1 {
    width: 25%;
    background: url("../img/gallery-tea.jpg"); }
  .gallery .items .item2 {
    width: 50%;
    background: url("../img/gallery-cake1.jpg"); }
  .gallery .items .item3 {
    width: 50%;
    background: url("../img/gallery-cake2.jpg"); }
  .gallery .items .item4 {
    width: 25%;
    background: url("../img/gallery-cake3.jpg"); }
    .gallery .items .item4 .text2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: calc(100% - 80px);
      margin: 40px;
      background-color: rgba(241, 40, 36, 0.7); }
      .gallery .items .item4 .text2 .paragraph {
        font-family: 'Roboto';
        font-size: 50px;
        font-weight: 700;
        color: #fff2ed;
        text-transform: uppercase; }
  .gallery .items .item5 {
    width: 25%;
    background: url("../img/gallery-cake4.jpg"); }
  .gallery .items .item {
    height: 440px;
    background-size: cover;
    background-position: center; }

.our-blog {
  padding: 150px 0; }
  .our-blog .blog-wrapper .title {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    color: #f01b16;
    text-align: center;
    margin-bottom: 55px; }
    .our-blog .blog-wrapper .title .blog-span {
      font-family: 'master_of_break';
      font-size: 40px;
      color: #f01b16; }
  .our-blog .blog-wrapper .paragraph {
    font-family: 'Roboto';
    font-size: 22px;
    color: #9f9a97;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 112px; }
  .our-blog .blog-wrapper .items {
    display: flex;
    justify-content: space-between;
    width: calc(100% + 30px);
    margin-left: -15px; }
    .our-blog .blog-wrapper .items .item1 {
      background: url("../img/blog-item1.jpg"); }
    .our-blog .blog-wrapper .items .item2 {
      background: url("../img/blog-item2.jpg"); }
    .our-blog .blog-wrapper .items .item3 {
      background: url("../img/blog-item3.jpg"); }
    .our-blog .blog-wrapper .items .item4 {
      background: url("../img/blog-item4.jpg"); }
    .our-blog .blog-wrapper .items .item {
      width: calc((100% / 4) - 30px);
      height: 350px;
      background-size: cover;
      background-position: center;
      overflow: hidden; }
      .our-blog .blog-wrapper .items .item .title {
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 700;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 55px;
        border-radius: 50%;
        background: #fff;
        width: 103%;
        height: 88%;
        top: -190px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        left: -4px;
        padding-top: 204px; }
      .our-blog .blog-wrapper .items .item .subtitle {
        top: -250px;
        position: relative;
        text-align: center;
        font-family: 'master_of_break';
        font-size: 24px;
        color: #f01b16; }

.contact-us {
  background: url("../img/contact-us.jpg");
  background-size: cover; }
  .contact-us .contact-heading {
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 160px 0 85px 0; }
    .contact-us .contact-heading .letter {
      font-family: 'master_of_break';
      margin-left: 10px; }
  .contact-us .contact-form .input-style {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 20px 35px; }
  .contact-us .contact-form ::placeholder {
    color: #fff;
    opacity: 1; }
  .contact-us .contact-form ::ms-input-placeholder {
    color: #fff;
    opacity: 1; }
  .contact-us .contact-form .top-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    width: calc(100% + 50px);
    margin-bottom: 40px; }
    .contact-us .contact-form .top-form .top-input {
      margin: 0 25px;
      width: calc(100% / 3 - 50px); }
  .contact-us .contact-form .area-style {
    width: 100%; }
  .contact-us .contact-form .input-button {
    width: 100%;
    background-color: #ff7d66;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 30px 0;
    margin: 40px 0 60px 0; }
    .contact-us .contact-form .input-button:hover {
      cursor: pointer; }

.contact-data {
  background-color: #fff2ed; }
  .contact-data .contact-wrapper {
    width: 76.1904%;
    margin: 0 auto; }
    .contact-data .contact-wrapper .contact-items {
      display: flex;
      justify-content: space-between;
      width: calc(100% + 40px);
      margin-left: -20px; }
      .contact-data .contact-wrapper .contact-items .contact-item {
        width: calc((100% / 3) - 40px);
        margin: 30px 20px; }
        .contact-data .contact-wrapper .contact-items .contact-item .contact-img {
          height: 145px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .contact-data .contact-wrapper .contact-items .contact-item .text {
          height: 145px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #fff;
          text-transform: uppercase;
          text-align: center;
          padding-top: 30px; }
          .contact-data .contact-wrapper .contact-items .contact-item .text .heading {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 700; }
          .contact-data .contact-wrapper .contact-items .contact-item .text .subheading {
            margin-top: 25px; }
        .contact-data .contact-wrapper .contact-items .contact-item .background1 {
          background: url("../img/contact-data-1.jpg"); }
        .contact-data .contact-wrapper .contact-items .contact-item .background2 {
          background: url("../img/contact-data-2.jpg"); }
        .contact-data .contact-wrapper .contact-items .contact-item .background3 {
          background: url("../img/contact-data-3.jpg"); }

.footer .map {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000; }
  .footer .map .footer-map {
    opacity: 0.502; }
  .footer .map .map-text {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .map .map-text .map-span {
      text-transform: none;
      font-family: 'master_of_break';
      margin: 0 10px;
      width: 55px;
      height: 55px;
      background-color: #f01b16;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; }
      .footer .map .map-text .map-span:before {
        content: 'Top'; }

.footer .bottom-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0; }
  .footer .bottom-footer .footer-heading {
    font-family: 'master_of_break';
    font-size: 35px;
    color: #f01b16;
    margin-bottom: 25px; }
  .footer .bottom-footer .footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #81868e;
    margin-bottom: 35px; }
  .footer .bottom-footer .footer-social {
    width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }

@media (max-width: 1483px) {
  .container {
    width: 90%; }
  .the-lemon-cake .lemon-inner {
    left: 150px; } }

@media (max-width: 1280px) {
  .container {
    width: 88%; }
  .header .top-menu-link {
    font-size: 14px;
    margin-left: 40px; } }
